html, body {
  margin: 0;
  padding: 0;
}

#mapid {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

h1 {
  font-size: 15px;
}

img{
  height: 150px;
  width: 100px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.popup {
  width: 450px;
  height: 350px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
}

.popup.active{
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);

  transition: all 500ms ease-in-out;
}
.popup .title{
  margin: 5px 0px;
  font-size: 30px;
}

.popup .description{
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.popup .dismiss-btn{
  margin-top:15px;
}

.popup .dismiss-btn button{
  padding: 10px 20px;
  background-color: cornflowerblue;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover{
  color: cornflowerblue;
  background-color: black;
}

/* .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.intro-content {

  background-color: rgba(255, 0, 0, 0.7);
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.7);
}

.bar{
    margin-top: 10px;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background-color: black;
}

.intro.active{
  display: none;
} */
